body {
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
}

/* Navbar */
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("images/img1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0.5rem 0.7rem 2rem #999;
}

.bottom-border {
  border-bottom: 0.1rem groove #eee;
}

.sidebar-link {
  transition: all 0.3s;
}

.sidebar-link:hover {
  background: #444;
  border-radius: 0.5rem;
}

.current {
  background: #f44336;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem #111;
  transition: all 0.3s;
}

.current:hover {
  background: #f66436;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 2rem #111;
  transform: translateY(-0.1rem);
}
/* End of Navbar */
