body {
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
}

/* Navbar */
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("images/img1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0.5rem 0.7rem 2rem #999;
}

.bottom-border {
  border-bottom: 0.1rem groove #eee;
}

.sidebar-link {
  transition: all 0.3s;
}

.sidebar-link:hover {
  background: #444;
  border-radius: 0.5rem;
}

.current {
  background: #f44336;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem #111;
  transition: all 0.3s;
}

.current:hover {
  background: #f66436;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 2rem #111;
  transform: translateY(-0.1rem);
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 0.2rem solid #999;
  transition: all 0.3s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 0.2rem solid #dc3545;
}

.search-button {
  transition: all 0.3s;
}

.search-button:hover {
  background: #eee;
  transform: translateY(-0.1rem);
}

.icon-parent {
  position: relative;
}

.icon-bullet:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;
  height: 12px;
  width: 12px;
  background: #f44336;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }

  .top-navbar {
    position: static;
  }
}
/* End of Navbar */

/* Cards */
.card-common {
  box-shadow: 0.1rem 0.2rem 0.5rem #999;
  transition: all 0.3s;
}

.card-common:hover {
  box-shadow: 0.2rem 0.3rem 1.5rem #999;
  transform: translateY(-0.1rem);
}
/* End of Cards */

/* Task List */
.task-border {
  border-left: 3px solid #f66436;
}
/* End of Task List */
